div.content-no-item{
    text-align: center;
}
.cvm-error{ color: red; }

/**
 * Educations - Begin
 */

/**
 * Educations - End
 */

/**
 * Experiences - Begin
 */
div.experience-content{
    display: flex;
    flex-direction: row;
}
div.column-company-timeline{
    flex: 1;
    background-color: #f2f2fe;
}
div.column-company-timeline h3{
    margin-bottom: 5px;
}
div.column-company-timeline .company-duration{
    text-align: right;
}
div.column-detail{
    flex: 1;
    background-color: #f2f2fe;
    margin-left: 40px;
}
div.column-detail .company-name{
    font-weight: 700;
    font-size: 15px;
}
div.position-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.position-content .position-header{
    padding-bottom: 10px;
}
div.position-content .position-title{
    font-weight: 700;
}
div.position-content .position-duration{
    color: #666;
}
/**
 * Experiences - End
 */