div.content-no-item{
    text-align: center;
}
.cvm-error{ color: red; }

.self ul.detail-top{
    clear: both;
}
.self .lastname-title{
    margin-bottom: 20px;
}
.self .title{
    width: 250px;
    text-align: left;
}

div.objective-column-detail{
    margin-left: 220px;
    /* background-color: #f2f2fe; */
}

.entry h2{
	/* background-color: #f2f2fe; */
    width: 180px;
    text-align: right;
}

/**
 * Educations - Begin
 */

/**
 * Educations - End
 */

/**
 * Experiences - Begin
 */
div.education-content,
div.experience-content,
div.skills-content,
li.project-content{
    display: flex;
    flex-direction: row;
}
div.column-timeline,
div.column-skill-group{
    flex: 1;
    /* background-color: #f2f2fe; */
    max-width: 180px;
    min-width: 180px;
}
div.column-detail{
    flex: 1;
    /* background-color: #f2f2fe; */
    margin-left: 40px;
}
div.column-detail ul,
div.column-detail ol{
    margin-left: 30px;
}

div.column-timeline h3,
div.column-skill-group h3{
    margin-bottom: 5px;
    width: 100%;
}
div.column-timeline.company .company-duration{
    text-align: right;
}
div.column-detail .company-name{
    font-weight: 700;
    font-size: 15px;
}
div.position-content{
    margin-top: 20px;
    margin-bottom: 20px;
}
div.position-content .position-header{
    padding-bottom: 10px;
}
div.position-content .position-title{
    font-weight: 700;
}
div.position-content .position-duration{
    color: #666;
    font-style: italic;
}
.description-experience-position{
    margin-left: 20px;
}
/**
 * Experiences - End
 */


ul.works{
    margin-top: 40px;
}
.column-timeline.project .link-image{
    text-align: right;
    display: block;
}
li.project-content{
    margin-top: 30px;
}
li.project-content .project-head{
    margin-bottom: 10px;
}
li.project-content .project-title{
    font-weight: 700;
}
li.project-content .project-title-date{
    font-style: italic;
    color: #999;
}